{
  "parser": "babel-eslint",
  "extends": [
    "vue"
  ],
  "plugins": [
    "babel"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__COVERAGE__": false,
    "__BASENAME__": false
  },
  "rules": {
    "no-trailing-spaces": "off"
  }
}
